
logs
project/project
project/target
target
lib_managed
tmp
.history
.gi
dist
/.idea
/*.iml
/*.ipr
/out
.DS_Store
chromedriver
project/.DS_Store
test/.DS_Store
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws

    