@import controllers._
@import include._
@import model._

@(unapprovedApps: PageableCollection[APIDefinitionSummary])(implicit request: Request[_], userFullName: Option[String])

@main(title = "API Submission", userFullName = userFullName) {
    <article class="content__body full-width">

        <style>
        .unapproved-list tr {
            word-break: break-all;
        }

        .input-select {
            margin: 0;
        }

        .input-select--large {
            width: 85%;
        }

        .dataTables_info .label--inlineDropDown {
            margin-top: 0;
        }

        select.perpage {
            margin: 0 0 0 9px;
            float: right;
        }
        </style>

        <header>
            <h1>API Submission</h1>
        </header>

        @tabList(activeTab = 3)

        <form action="@routes.DeploymentApprovalController.pendingPage(Some(unapprovedApps.pageNumber), Some(unapprovedApps.pageSize)).url" method="get">

            @if(unapprovedApps.length > 0) {
                <ul>
                @for(application <- unapprovedApps.projection) {
                    <li data-pending- @{
                        application.serviceName
                    } class="app-info">
                        <div class="app-info__primary">
                            <h3 class="app-info__heading">@{
                                application.name
                            }</h3>
                            <p class="app-info__info">Service ID: @application.serviceName</p>
                        </div>
                        <div class="app-info__secondary">
                            <a data-review- @application.serviceName href="@{
                                routes.DeploymentApprovalController.reviewPage(application.serviceName)
                            }">Review</a>
                        </div>
                    </li>
                }
                </ul>
            } else {
                <p data-pending-none>There are no unapproved applications.</p>
            }

            <div class="grid-layout" style="margin-left: 0">
                <div class="grid-layout__column--1-3 filters">
                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                        <label class="label--inlineDropDown">Show rows:
                            <select class="select perpage" id="pageSize" name="pageSize"
                            value="@unapprovedApps.pageSize" onchange="this.form.submit()">
                            @for(n <- List(10, 50, 100, 200, 300)) {
                                <option value="@n"
                                @if(unapprovedApps.pageSize == n) {selected}>@n </option>
                            }
                            </select>
                        </label>
                    </div>
                </div>

                <div class="grid-layout__column--1-3">
                    <div class="dataTables_paginate paging_simple" id="DataTables_Table_0_paginate">
                        @paginateButton("Previous", "paginate_button previous", unapprovedApps, -1)
                        @paginateButton("Next", "paginate_button next", unapprovedApps, 1)
                    </div>
                </div>
            </div>

            <input type="hidden" name="pageNumber" value="@unapprovedApps.pageNumber"/>

        </form>

        <div class="form-group>">
            <a class="back-to-top-link" href="#">Back to Top</a>
        </div>

    </article>
}

@paginateButton(text: String, cssClass: String, content: model.PageableCollection[_], direction: Int) = {
@if(direction < 0 && content.hasPrevious || direction > 0 && content.hasNext) {
    <a class="@cssClass"
    rel="@if(direction < 0) {prev} else {next}"
    href="@routes.DeploymentApprovalController.pendingPage(Some(content.pageNumber + direction), Some(content.pageSize))"
    aria-controls="DataTables_Table_0"
    data-dt-idx="@if(direction < 0) {0} else {1}"
    id="DataTables_Table_0_@if(direction < 0) {prev} else {next}"
    >@text</a>
}
}