@import model.APIApprovalSummary

@(form: Form[controllers.HandleApprovalForm], apiDefinition: APIApprovalSummary)(implicit request: Request[_], userFullName: Option[String], flash: Flash, messages: Messages, appConfig: config.AppConfig)
    @main(title = "API Gatekeeper Dashboard", userFullName = userFullName) {
        <div class="content__body">

            <header>
                <h1 class="flush--top">API approval</h1>
            </header>

            @if(form.hasErrors) {
                <div class="flash error-summary error-summary--show" role="group" aria-labelledby="errorSummaryHeading" tabindex="-1">
                    <h2 id="errorSummaryHeading" class="flush--top">There are errors on the page.</h2>
                    <ul>
                    @for(error <- form.errors) {
                        <li role="tooltip">
                            <a href="#@error.key" data-global-error>@Messages(error.message)</a>
                        </li>
                    }
                    </ul>
                </div>
            }

            <h2>API name</h2>
            <p class="flush--top" data-description>@{
                apiDefinition.name
                }</p>

            <h2>Service ID</h2>
            <p class="flush--top" data-service-name>@{
                apiDefinition.serviceName
            }</p>

            <h2>Description</h2>
            <p class="flush--top" data-description>@{
                apiDefinition.description
            }</p>


            <h2>Approve</h2>
            <p class="flush--top">You must check if the API meets all the necessary requirements before submitting to live.</p>

            <p>&nbsp;</p>
            <div class="highlight-message highlight-message--light">
                <p>Your decision is final and will set the API live.</p>
            </div>

            @helper.form(action = controllers.routes.DeploymentApprovalController.handleApproval(apiDefinition.serviceName),
                'class -> "form") {
            @helper.CSRF.formField
            <label for="approval_confirmation" class="block-label">
                <input type="checkbox" name="approval_confirmation" value="Yes" id="approval_confirmation" onchange="document.getElementById('submit').disabled = !this.checked;">
                I confirm the details are correct
            </label>
            <div class="form-field">
                <p>&nbsp; </p>
                <input id="submit" type="submit" class="button" role="button" value="Submit" disabled data-journey-target/>
                <a href="/api-gatekeeper/pending" class="button button--link">Cancel</a>
            </div>

            }

        </div>
    }