@import org.joda.time.format.DateTimeFormat
@import model.SubscribedApplicationResponse
@import include._

@(applications: Seq[SubscribedApplicationResponse])(implicit request: Request[_], userFullName: Option[String], messages: Messages)

@main(title = "API Gatekeeper Dashboard", userFullName = userFullName) {

    @defining(DateTimeFormat.forPattern("dd.MM.yyyy")) { dateFormatter =>
        <article class="content__body full-width">

            <header>
                <h1>Applications</h1>
            </header>

            @tabList(activeTab = 1)

            <div class="two-col-list full-width">
                @for(app <- applications) {
                    <h1>app.name</h1>
                }
            </div>
        </article>
    }
}