.header__menu .header__menu__proposition-links {
    float: none;
}

.service-info {
    .header__menu__proposition-links {
        margin-top: 0.5em;

        .link-style {
            color: #005ea5;
            font-weight: normal;
            text-decoration: underline;
        }

        span {
            font-size: 16px;
            line-height: 1.25;

        }
    }
}

.beta-banner .phase-tag {
    background-color: #005ea5;
}

.table-label {
    width: 30%;
}

th {
    vertical-align: text-top;
}

th > h3 {
    white-space: nowrap;
}

td {
    vertical-align: text-top;
}


table.table-plain {
    margin-bottom: 0;

    th,td {
        border-bottom: none;
    }
}

th.override-actions, td.override-actions {
    width: 100px;
    padding: 0;
}

th.no-border, td.no-border {
    border: none;
}

a.secondary-button, button.secondary-button {
  position: relative;
  padding: .526315em .789473em .263157em;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: top;
  background-color: #fff;
  color: #005ea5;
  text-decoration: underline;

  &:hover, &:focus {
    color: #2e8aca;
  }
}

input[type="text"].full-width,
textarea.full-width {
   width: 100%;
}

[data-teamMember-row] .button--link {
  padding: 0;
}

.pagination {
    margin-top: 1rem;
}

th {
  &.sorting {
    position: relative;
    padding-left: 2rem;

    &::before, &::after {
      font-size: 1rem;
      position: absolute;
      left: 0;
    }

    &.unsorted {
      &::before {
        bottom: 47.5%;
        color: #aaa;
        content: "\25b2";
      }

      &::after {
        color: #aaa;
        content: "\25bc";
        top: 47.5%;
      }
    }

    &.sorted_asc::before {
      bottom: 47.5%;
      content: "\25b2";
    }

    &.sorted_desc::before {
      content: "\25bc";
      top: 47.5%;
    }
  }
}

.ip-allowlist {
  .indented {
    margin-left: 40px;
  }
  textarea {
    width: auto;
  }
  table {
    margin-bottom: 2em;
    width: 30%;
  }
}

p.error-notification {
    margin-bottom: 0;
}

.col-35 {
  width: 35%;
}

.col-60 {
  width: 60%;
}

.col-75 {
  width: 75%;
}

.api-subscription {
  display: inline-block;
  width: 100%;
}

.api-subscription-version {
  display: inline-block;
  width: 20%;
}

.api-subscription-info {
  display: inline-block;
  width: 80%;
}

.plain-button {
  margin: 0 !important;
}

.appsearch-buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.compose-email {
    float: right;
    margin-top: -6.2%;
    margin-right: 50%;
}

.pagination-box {
  display: flex;
  justify-content: space-between;
  & div {
    width: 33%;
  }
  &-entries {
    display: flex;
    justify-content: center;
  }
  &-pages {
    display: flex;
    justify-content: flex-end;
  }
}

.pagination-dropdown-box {
  display: flex;
}

.govuk-filter-row {
  display: flex;
  & div {
    width: 50%;
  }
}

.full-width {
  width: 100%;
}

.status--verified {
  color: 	#00703c;
}

.status--not-verified {
  color: #d4351c;
}

.govuk-single-checkbox {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentcolor;
  background: rgba(0,0,0,0);
  opacity: 1;
}

.govuk-single-checkbox::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 11px;
  left: 9px;
  width: 23px;
  height: 12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: solid;
    border-top-color: currentcolor;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
  border-width: 0 0 5px 5px;
  border-top-color: rgba(0,0,0,0);
  opacity: 0;
  background: rgba(0,0,0,0);
}

.dev-filter-row {
  display: flex;
  justify-content: space-between;
}

.dev-filter-col-30 {
  width: 30%;
}

.govuk-accordion__section-header {
  background-color: #f8f8f8;
}

.word-break-all {
  word-break: break-all;
}
