.header__menu .header__menu__proposition-links {
    float: none;
}

.service-info {
    .header__menu__proposition-links {
        margin-top: 0.5em;

        .link-style {
            color: #005ea5;
            font-weight: normal;
            text-decoration: underline;
        }

        span {
            font-size: 16px;
            line-height: 1.25;

        }
    }
}

.beta-banner .phase-tag {
    background-color: #005ea5;
}

.table-label {
    width: 30%;
}

th {
    vertical-align: text-top;
}

th > h3 {
    white-space: nowrap;
}

td {
    vertical-align: text-top;
}


table.table-plain {
    margin-bottom: 0;

    th,td {
        border-bottom: none;
    }
}

th.override-actions, td.override-actions {
    width: 100px;
    padding: 0;
}

th.no-border, td.no-border {
    border: none;
}

a.secondary-button, button.secondary-button {
  position: relative;
  padding: .526315em .789473em .263157em;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: top;
  background-color: #fff;
  color: #005ea5;
  text-decoration: underline;

  &:hover, &:focus {
    color: #2e8aca;
  }
}

input[type="text"].full-width,
textarea.full-width {
   width: 100%;
}

[data-teamMember-row] .button--link {
  padding: 0;
}
