.sandbox #global-header-bar {
    border-color: #28A197;
}

.sandbox .hero  {
    background-color: #28A197;
}

.sandbox .service-info {
    border-color: #28A197;
}

.sandbox .beta-banner .phase-tag {
    background-color: #005ea5;
}
